{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} CV{% endblock %}

{% block body %}
    <div class="app">
        <iframe src="https://onedrive.live.com/embed?cid=FA380D07FC93B217&resid=FA380D07FC93B217%2153064&authkey=AOAxZC9Quyc0F7A&em=2" width="794" height="1123" allowfullscreen></iframe>

    </div>
    <style>
        .app{
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}
